{% extends 'base.html' %}
{% block title %}Market | Login{% endblock title %}
{% block content %}

<div class="w-full h-screen font-sans bg-stone-200">
    <div class="container flex items-center justify-center flex-1 h-full mx-auto">
        <div class="w-full max-w-lg">
            <div class="leading-loose">
                <form class="max-w-sm p-10 m-auto bg-white bg-opacity-70 rounded shadow-xl" method="POST" action="">
                    {% csrf_token %}
                    <p class="mb-8 text-2xl font-bold text-center text-stone-700 drop-shadow">
                        Login To Market
                    </p>
                    <div class="mb-2">
                        <div class=" relative ">
                            <input type="text" name="username"
                                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                placeholder="Username" />
                            {% if msg is not None %}
                            <p class="{{error_class}}">{{msg}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class=" relative ">
                            <input type="password" name="password"
                                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                placeholder="Password" />
                            {% if msg is not None %}
                            <p class="{{error_class}}">{{msg}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <button type="submit"
                            class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                            Login
                        </button>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'Register' %}"
                            class="right-0 text-sm font-medium align-baseline text-stone-500 hover:text-blue-800 cursor-pointer">
                            Create an account
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}